@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --toolbar-background: #fd6b00;
  --background-rga: #ffffff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-rga), 1);
}

.tool-bar {
  background: var(--toolbar-background);
  color: #ffffff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
